
@model JsonDemo.Models.Course

@{
    ViewBag.Title = "Details";
    var yearsList = ((List<int>)Session["StudentsYearsList"]).OrderByDescending(i => i);
}
<div id="CoursePanel"></div>

<hr />

<h4>Étudiants inscrits</h4>
<div id="RegistrationsPanel"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(() => {
            let CoursePanel = new AutoRefreshedPanel("CoursePanel", "@Url.Action("GetCourse")", 5 /*seconds*/);
            let RegistrationsPanel = new AutoRefreshedPanel("RegistrationsPanel", "@Url.Action("GetRegistrations")", 5 /*seconds*/);
        })
    </script>
}