@model IEnumerable<JsonDemo.Models.Course>

@for (int session = 1; session <= 6; session++)
{
    var courses = Model.Where(c => c.Session == session);
    if (courses.Count() > 0)
    {
        <details open>
            <summary>Session @session</summary>
            @foreach (var course in courses)
            {
                <div class="CoursesListLayout ellipsis">
                    <a href="@Url.Action("Details", new { id = course.Id })" class="ellipsis">
                        <div class="ellipsis">
                            <span class="courseCode">@course.Code</span>
                            @course.Title
                        </div>
                    </a>
                </div>
            }
        </details>
    }
}
