<div id="PhotosPanel"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        let photosPanel = new AutoRefreshedPanel("PhotosPanel", '@Url.Action("GetPhotos")', 2);
        console.log("Panel refreshed.");
    });
    </script>
}
