.TeacherListLayout {
    display: grid;
    grid-template-columns: 45px 120px auto;
    height: 44px;
    text-align: left !important;
    align-items: center;
    font-size: larger;
    cursor: pointer;
    padding-left: 6px;
    border-radius: 6px;
    font-family: 'Times New Roman';
    text-decoration: none !important;
    text-decoration: none;
    color: black;
}

    .TeacherListLayout a {
       
    }

    .TeacherListLayout:hover {
        background-color: azure;
    }

.teacherCode {
    color: blue;
    font-family:Consolas;
    font-size:16px;
}

.TeacherLink {
    text-decoration:none;
}
