<div id="studentPanel"></div>

<hr />

<h4>Inscriptions</h4>
<div id="registrationsPanel"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(() => {
            let StudentPanel = new AutoRefreshedPanel("studentPanel", "@Url.Action("GetStudent")", 5 /*seconds*/);
            let RegistrationsPanel = new AutoRefreshedPanel("registrationsPanel", "@Url.Action("GetRegistrations")", 5 /*seconds*/, SummaryHandling);
        })
    </script>
}
