@model JsonDemo.Models.Student
@{
    var yearsList = ((List<int>)Session["StudentsYearsList"]).OrderByDescending(i => i);
}
@foreach (int year in yearsList)
{
    var registrations = Model.Registrations.Where(r => r.Year == year).OrderBy(r => r.Course.Code);
    if (registrations.Count() > 0)
    {
        <details open>
            <summary>@year</summary>
            @foreach (var registration in registrations)
            {
                <div class="CoursesListLayout ellipsis">
                    <a href="@Url.Action("Details", "Courses", new { id = registration.Course.Id })">
                        <span style="color:gray">[@registration.Course.Session] </span>
                        <span class="courseCode">@registration.Course.Code</span>
                        @registration.Course.Title
                    </a>
                </div>
            }
        </details>
    }
}