@{
    ViewBag.Title = "Liste des étudiants";
}
<div id="StudentsPanel"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(() => {
            let StudentsPanel = new AutoRefreshedPanel("StudentsPanel", "@Url.Action("GetStudents")", 5 /*seconds*/);

            var timeout = null;
            $('#searchToken').keyup(function () {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    window.location = "/Students/SearchName?name=" + $(this).val();
                }, 1000);
            });
            $('#searchToken').change(function () {
                window.location = "/Students/SearchName?name=" + $(this).val();
            });
            $('#searchToken').on("search", function () {
                window.location = "/Students/SearchName?name=" + $(this).val();
            });
            // Descending sort of select option values
            $("#SelectedStudentYear").html($("#SelectedStudentYear option").sort(function (a, b) {
                console.log(a, b)
                return a.text == b.text ? 0 : a.text > b.text ? -1 : 1
            }))
            $('#SelectedStudentYear').change(function () {
                window.location = "/Students/SearchYear?year=" + $(this).val();
            })
        })
    </script>
}
