@{
    ViewBag.Title = "A propos";
}
<h2>Régistraire</h2>
<hr />
<p>
    Site de démonstration d'exploitation de fichiers json en tant que support des données.
</p>
<pre>
Auteur/Enseignant: Nicolas Chourot
Cours: 420-KBD-LG 
       Développement d'applications Web II
Hiver 2025

Département d'informatique
Collège Lionel-Groulx
</pre>
