@{
    ViewBag.Title = "Details";
}
<div id="TeacherPanel"></div>
<hr />
<h4>Allocations</h4>
<div id="AllocationsPanel"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(() => {
            let TeacherPanel = new AutoRefreshedPanel("TeacherPanel", "@Url.Action("GetTeacher")", 5 /*seconds*/);
            let AllocationsPanel = new AutoRefreshedPanel("AllocationsPanel", "@Url.Action("GetAllocations")", 5 /*seconds*/, SummaryHandling);
        })
    </script>
}
