@model JsonDemo.Models.Teacher
@{
    var yearsList = ((List<int>)Session["StudentsYearsList"]).OrderByDescending(i => i);
}
@foreach (int year in yearsList)
{
    var allocations = Model.Allocations.Where(a => a.Year == year).OrderBy(a => a.Course.Code);
    if (allocations.Count() > 0)
    {
        <details open>
            <summary>@year</summary>
            @foreach (var allocation in allocations)
            {
                <div class="CoursesListLayout ellipsis">
                    <a href="@Url.Action("Details", "Courses", new { id = allocation.Course.Id })">
                        <span style="color:gray">[@allocation.Course.Session] </span>
                        <span class="courseCode">@allocation.Course.Code</span>
                        @allocation.Course.Title
                    </a>
                </div>
            }
        </details>
    }
}
