@{
    ViewBag.Title = "Liste des enseignants";
}

<div id="TeachersPanel"> <!-- Auto Refreshed Panel --> </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(() => {
            let TeachersPanel = new AutoRefreshedPanel("TeachersPanel", "@Url.Action("GetTeachers")", 2 /*seconds*/);
            var delayKeyup = null;
            $('#searchToken').keyup(function () {
                clearTimeout(delayKeyup);
                delayKeyup = setTimeout(() => {
                    window.location = "/Teachers/SearchName?name=" + $(this).val();
                }, 1000);
            });
            $('#searchToken').change(function () {
                window.location = "/Teachers/SearchName?name=" + $(this).val();
            });
            $('#searchToken').on("search", function () {
                window.location = "/Teachers/SearchName?name=" + $(this).val();
            });
        })
    </script>
}
